* {
    margin: 0;
    padding: 0;
    font-family: "Nanum Gothic", sans-serif;
}

#header {
    background-color: rgb(48,205,215);
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    margin-left: 120px;
    align-self: center;
}

.header-logo-text {
    color: white;
    font-size: 40px;
}

.header-menu {
    margin-right: 100px;
    display: flex;
    width: 700px;
    justify-content: space-between;
}

.header-menu-ele {
    text-decoration: none;
    color: white;
    align-self: center;
    font-size: 20px;
}